:root {
  --white: #FFFFFF;
  --lighter-yellow: #FEEFD0;
  --light-yellow: #FDE8AA;
  --yellow: #FFDE53;
  --dark-yellow: #EFB200;
  --light-gray: #B2B7BA;
  --gray: #4F5147;
  --black: #333333;
  --green: #497c2f;
}