@import './type.css';
@import './color.css';

body {
  background-color: var(--white);
  color: var(--gray);
}

a {
  text-decoration: none;
}

a:visited,
a {
  color: var(--green);
}
a:hover {
  color: var(--dark-yellow);
}


/* structure */

.constrained {
  padding-left: 7%;
  padding-right: 7%;
}

.layout-single {
  max-width: 34rem;
  margin: auto;
  padding-left: 7%;
  padding-right: 5%;
}

.layout-double {
  margin: auto;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
}

.layout-left,
.layout-right {
  flex: 1;
}
.layout-left {
  padding-right: 3.5%;
}
.layout-right {
  padding-left: 3.5%;
}

.lead-1 { margin-top: calc(var(--leading) * 1) }
.lead-2 { margin-top: calc(var(--leading) * 2) }
.lead-3 { margin-top: calc(var(--leading) * 3) }
.lead-4 { margin-top: calc(var(--leading) * 4) }
.lead-5 { margin-top: calc(var(--leading) * 5) }
.lead-6 { margin-top: calc(var(--leading) * 6) }

.site-title {
  position: fixed;
  top: 0;
  left: 7%;
  font-size: var(--txt-size--2);
  margin-top: calc(var(--baseline) * 6);
  opacity: 0;
}
